$small: new-breakpoint(min-width 460px max-width 600px);
$medium: new-breakpoint(min-width 601px max-width 900px);
$large: new-breakpoint(min-width 901px);

$navlinks: new-breakpoint(min-width 1080px);

.main {
  @include outer-container;
}

.banner {
  height: 16em;

  @include media($medium) {
    height: 18em;
  }

  @include media($large) {
    height: 24em;
  }

}

.banner .grand-header {
  background-color: rgba(17, 17, 17, 0);

  p.byline {
    font-size: .8em;
    font-weight: 400;
    font-style: italic;
  }
}

.banner .grand-header-image {
  background-image: url('../images/TT-SOM-web-BG-sharp.jpg');
  background-position: 80% center;

  @include media($medium) {
    background-position: center 20%;
  }

  @include media($large) {
    background-position: center 10%;
  }

}

.series-intro {
  @include span-columns(12);
  // @include media($default-768) {
  //   @include span-columns(10);
  //   @include shift(1);
  // }

  p {
    margin-top: 1em;
  }
}

.share-row {
  margin-top: 1em;
}

.mobile {
  display: block;

  @include media($medium) {
    display: none;
  }

  @include media($large) {
    display: none;
  }
}

.desktop {
  display: none;

  @include media($medium) {
    display: block;
  }

  @include media($large) {
    display: block;
  }
}

.desktop-hide {
  display: block;

  @include media($small) {
    display: block;
  }

  @include media($medium) {
    display: none;
  }

  @include media($large) {
    display: none;
  }
}

.mobile-hide {
  @include clearfix;
  display: none;

  @include media($small) {
    display: none;
  }

  @include media($medium) {
    display: block;
  }

  @include media($large) {
    display: block;
  }
}
