$small: new-breakpoint(min-width 460px max-width 600px);
$medium: new-breakpoint(min-width 601px max-width 850px);
$large: new-breakpoint(min-width 851px);

.main {
  @include outer-container;
}

.grand-header {
  p.byline {
    font-size: .8em;
    font-weight: 400;
    font-style: italic;
  }
}

.series-intro {
  @include span-columns(12);
  // @include media($default-768) {
  //   @include span-columns(10);
  //   @include shift(1);
  // }

  p {
    margin-top: 1em;
  }
}

.share-row {
  margin-top: 1em;
}

.mobile {
  display: block;

  @include media($medium) {
    display: none;
  }

  @include media($large) {
    display: none;
  }
}

.desktop {
  display: none;

  @include media($medium) {
    display: block;
  }

  @include media($large) {
    display: block;
  }
}

.desktop-hide {
  display: block;

  @include media($small) {
    display: block;
  }

  @include media($medium) {
    display: none;
  }

  @include media($large) {
    display: none;
  }
}

.mobile-hide {
  @include clearfix;
  display: none;

  @include media($small) {
    display: none;
  }

  @include media($medium) {
    display: block;
  }

  @include media($large) {
    display: block;
  }
}
