.prose .navlinks {
  ul {
    list-style: none;
  }
  li {
    @include span-columns(12);
    @include media($navlinks) {
      @include span-columns(6);
      @include omega();
      min-height: 2.1em;
    }

    font-family: $base-sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: .5em;

    .dateline {
      text-transform: uppercase;
    }

  }

  a {
    color: $bodytext-black;
    .underline {
      border-bottom: 1px solid $teal;
      padding-bottom: .15em;
    }


    &:hover {
      text-decoration: none;

      .underline {
        color: $teal;
      }

    }
  }

  .fa-angle-right {
    color: $teal;
    margin-right: 1em;

    &:hover {
      border-bottom: 0;
    }
  }
}
