.video-container {
  @extend %content-block;
  @include span-columns(12);
}

.video-block {
  @include span-columns(12);

  border-bottom: 1px solid $tribune-yellow;
  padding-bottom: 1.4em;
}

.video {
  @include span-columns(12);

  @include media($default-768) {
    @include span-columns(8);
  }
}

.video-context {
  @include span-columns(12);

  @include media($default-768) {
    @include span-columns(4);
  }

  .dateline {
    text-transform: uppercase;
    font-weight: 800;
  }
}
