{% extends 'app/templates/base.html' %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}

  {{ macro.header(META) }}
  <div class="main">
    <section class="series-intro prose">
      <div class="row share-row">
        <a href="https://twitter.com/intent/tweet?text={{ META[0]["twitter_text"] | urlencode }}http%3A%2F%2Fapps.texastribune.org%2Fstate-of-mind%2F" title="share on Twitter" class="social-share" target="_blank">
          <div class="share-cell first-share">
            <i class="fa fa-twitter"></i> Tweet
          </div>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fstate-of-mind%2F&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fstate-of-mind%2F" title="share on Facebook" class="social-share" target="_blank">
          <div class="share-cell">
            <i class="fa fa-facebook"></i> Share
          </div>
        </a>
      </div>
      <p>{{ META[0]["Intro_Graph"] }}</p>
      <h3>Use the links to navigate to stories below:</h3>
      <nav class="navlinks">
        <ul>
          {{ macro.navlinks(TEXT) }}
        </ul>
      </nav>
    </section>

    <section class="video-container prose">
      {{ macro.videoblock(TEXT) }}
    </section>

  </div>

{% endblock %}
