<!-- Meta Share data -->
  {% macro meta_data(sheet) %}
    {% for x in sheet %}
    <title> {{ sheet.topic }} | Perry Legacy </title>
  <!--   Open Graph -->
    <meta property="og:site_name" content="The Texas Tribune">
    <meta property="og:description" content="{{ x.facebook_text }}">
    <meta property="og:title" content="{{ x.Series }}">
    <meta property="og:url" content="//s3.amazonaws.com/apps.texastribune.org/state-of-mind/">
    <meta property="og:redirect_uri" content="//s3.amazonaws.com/apps.texastribune.org/state-of-mind">
    <meta property="og:image" content="images/TT-state-of-mind-landing-pointer002.jpg">

  <!-- Twitter settings -->
    <meta name="twitter:card" value="summary_large_image">
    <meta name="twitter:site" value="@TexasTribune">
    <meta name="twitter:creator" content="@newsapps">
    <meta name="twitter:title" content="{{ x.Series }}">
    <meta name="twitter:description" content="{{ x.twitter_text }}">
    <meta name="twitter:url" content="//s3.amazonaws.com/apps.texastribune.org/state-of-mind/">
    <meta name="twitter:image" content="images/TT-state-of-mind-landing-pointer002.jpg">
    {% endfor %}
  {% endmacro %}

<!-- Project Header -->
{% macro header(sheet) %}

  {% for x in sheet %}
  <section class="banner">
    <div class="grand-header-image"></div>
    <header class="grand-header content-block">
      <h1><a href="/">{{ x.Series }}</a></h1>
      <p>{{ x.Subtitle }}</p>
      <p class="byline">By <a href="http://www.texastribune.org/about/staff/rocha-alana/">Alana Rocha</a> and <a href="http://www.texastribune.org/about/staff/justin-dehn/">Justin Dehn</a></p>
    </header>
  </section>
  {% endfor %}

{% endmacro %}

<!-- HEADLINE -->

  {% macro headline(sheet) %}
  <header>
    <h1>{{ sheet.headline }}</h1>
    <div class="byline">By {{ sheet.byline }} | Dec. 28, 2014</div>
    <div class="row share-row">
      <a href="https://twitter.com/intent/tweet?text={{ sheet.twitter_text | urlencode }}http%3A%2F%2Fapps.texastribune.org%2Fstate-of-mind%2F&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <div class="share-cell first-share">
          <i class="fa fa-twitter"></i> Tweet
        </div>
      </a>
      <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fstate-of-mind%2F&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fstate-of-mind%2F" title="share on Facebook" class="social-share" target="_blank">
        <div class="share-cell">
          <i class="fa fa-facebook"></i> Share
        </div>
      </a>
    </div>
  </header>
  {% endmacro %}

<!-- Story Navigation -->
{% macro navlinks(sheet) %}
  {% for x in sheet %}
  <li>
    <a href="#{{ x.YOUTUBE_ID }}"><span class="underline"><span class="dateline">{{ x.LOCATION }}</span> | {{ x.HEADLINE }}</span></a>
  </li>
  {% endfor %}
{% endmacro %}

<!-- Video Block -->
{% macro videoblock(sheet) %}
  {% for x in sheet %}
  <div id="{{ x.YOUTUBE_ID }}" class="video-block">
    <header>
      <h1><a href="{{ x.TRIB_URL }}">{{ x.HEADLINE }} <span class="date">{{ x.DATE_PUBLISHED }}</span></a></h1>
    </header>
    <div class="video">
      <iframe width="560" height="315" src="//www.youtube.com/embed/{{ x.YOUTUBE_ID }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="map">
      <img class="mobile" src="images/TT-SOM-map-{{ x.MAP_IMG }}-mobile.png">
      <img class="desktop" src="images/TT-SOM-map-{{ x.MAP_IMG }}-desktop.png">
    </div>
    <div class="context">
      {% if loop.first %}
      <p><span class="dateline">{{ x.LOCATION }} &mdash; </span>{{ x.SHORT_DESC }}</p>
      {% else %}
      <p><span class="dateline">{{ x.LOCATION }}, TX &mdash; </span>{{ x.SHORT_DESC }}</p>
      {% endif %}
    </div>
  </div>
    {% if loop.first %}
      {% include 'app/templates/includes/ad1.html' %}
      {% include 'app/templates/includes/ad1_mobile.html' %}
    {% elif loop.index0 == 2 %}
      {% include 'app/templates/includes/ad2.html' %}
      {% include 'app/templates/includes/ad2_mobile.html' %}
    {% elif loop.index0 == 4 %}
      {% include 'app/templates/includes/ad3.html' %}
      {% include 'app/templates/includes/ad3_mobile.html' %}
<!--     {% elif loop.index0 == 5 %}
      {% include 'app/templates/includes/ad4.html' %}
      {% include 'app/templates/includes/ad4_mobile.html' %} -->
    {% else %}
    {% endif %}
  {% endfor %}

{% endmacro %}

